
<ul>
  {{#each fieldWrappers as |wrapper|}}
    <p>
      {{wrapper.field.label}}
      {{input type=wrapper.field.type value=wrapper.field.value height=wrapper.height change=(action "sendAction")}}
    </p>
  {{/each}}
</ul>

<button {{action "sendAction"}}>
  Click me
</button>

{{yield}}
