
<ul>
  {{#each fieldWrappers as |wrapper|}}
    {{#if wrapper.visible}}
      <p>
        {{wrapper.field.label}}
        {{input type=wrapper.field.type value=wrapper.field.value height=wrapper.height change=(action "sendAction" wrapper.field.value)}}
      </p>
    {{/if}}
  {{/each}}
</ul>

<button {{action "sendAction"}}>
  Click me
</button>

{{yield}}
